on early-boot

    chown 0660 /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/brightness

    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness
    chown system system /sys/class/backlight/panel1-backlight/brightness
    chown system system /sys/class/backlight/panel1-backlight/max_brightness

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.ginkgo
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    shutdown critical
