on boot
# KCal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_min
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal
    chmod 660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chmod 660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chmod 660 /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chmod 660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chmod 660 /sys/devices/platform/kcal_ctrl.0/kcal_val
    chmod 660 /sys/devices/platform/kcal_ctrl.0/kcal_min
    chmod 660 /sys/devices/platform/kcal_ctrl.0/kcal
