#
# Custom ginkgo-specific init script
#

on early-init
    write /dev/stune/schedtune.boost 50
    write /dev/stune/schedtune.prefer_idle 1

on late-init
    # Start services for bootanim
    start surfaceflinger
    start bootanim
    start vendor.hwcomposer-2-4
    start vendor.configstore-hal
    start vendor.qti.hardware.display.allocator

on boot
    # DT2W
    chown system system /sys/touchpanel/double_tap
    chmod 0660 /sys/touchpanel/double_tap

    # Kernelspace battery saver
    chown system system /sys/module/battery_saver/parameters/enabled
    chmod 0660 /sys/module/battery_saver/parameters/enabled

    # KCAL
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont

    # Thermal Profile
    write /sys/class/thermal/thermal_message/sconfig 0

service nqnfcinfo /vendor/bin/nqnfcinfo
    class late_start
    group nfc
    user system
    oneshot
    override
    disabled

service nqnfc_2_0_hal_service /vendor/bin/hw/vendor.nxp.hardware.nfc@2.0-service
    class hal
    user nfc
    group nfc
    override
    disabled

on property:ro.product.device=willow
    enable nqnfcinfo
    enable nqnfc_2_0_hal_service

on property:persist.sys.device_provisioned=1
    # Use foreground cpuset for dex2oat
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,6,7
    setprop dalvik.vm.dex2oat-threads 6

on property:sys.boot_completed=1
    write /dev/stune/schedtune.prefer_idle 0
    write /dev/stune/schedtune.boost 0
